footer {
  width: 100%;
  padding: var(--spacing-xs) var(--container-padding);
  background-color: var(--color-primary);
  color: var(--color-white);
  text-align: center;
  margin-top: auto;
}

footer .copyright {
  font-size: var(--font-size-base);
  color: var(--color-secondary);
}